<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Checker</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id='first'>
        <h1>Weather Checker</h1>
        <div id='inner_first'>
            <form id="send_message" action='/create' method='POST'>
            {% csrf_token %}
                <p class='f_items'>City:
                    <input type="text" name="city">
                </p>
                <p class='f_items'>State:
                    <input type="text" name="state">
                </p>
                <p class='f_items'>Zip Code:
                    <input type="text" name="zip">
                </p>
                <input id='submit' type='submit' value='Check Weather'>
            </form>
        </div>
    </div>
    <div id='second'>
        <div id='messages'>

        </div>
    </div>


    <script src='{% static "js/script.js" %}'></script>
</body>
</html>